<!DOCTYPE html>
<html>
<head>
<title>Age and Gender</title>
<style>
.heading{
color:coral
}
.button{
color:navy
}
.total{
background-color:aqua
}
.age{
color:blue
}
.gender{
color:purple
}
.param{
color:red
}
</style>
</head>
  <body class="total">
	<center>
	<h1 class='heading'>AGE AND GENDER PREDICTION</h1>
	<table border=1>
	<tr>
	<td>
	<center>
	<form action='/predict' method='POST'>
		<input type="submit" value="open camera" class="button">
    </form>
	</center>
	</td></tr>
	<tr><td class="age"><center>you age is in between{{ age }}</center></td></tr>
	<tr><td class="gender"><center>your gender is {{ gender }}</center></td>
	</tr>
	</table>
	<p class="para">{{ n }}</p>
	</center>
  </body>
</html>