<!DOCTYPE html>
<html>
<head>
<title>Age and Gender</title>
<style>
.heading{
color:#993399;
font-size: larger;
}
.button{
color:navy;
min-height: 100px;
}
.total{
background-color:#66ccff;
}
.age{
color:blue;
}
.gender{
color:purple;
}
.para{
color:red;
}
.image{

}
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)
{ .image{
	height:65%;
	width:95%;
}
.button{
	height:80px;
	min-width:150px;
	font-size:40px;
}
.age,.gender,.para{
height:300px;
width:300px;
font-size:300%;
}
</style>
</head>
  <body class="total">
	<center>
	<h1 class='heading'>AGE AND GENDER PREDICTION</h1><br>
	<img src="{{ url_for('video_feed') }}" height="65%" class="image"><br><br>
	<table>
	<tr>
	<td>
	<center>
	<form action='/predict' method='POST'>
		<input type="submit" value="Detect Now" class="button" style="color:white; background-color:green; min-width: 25%; min-height: fit-content; font-size: large;">
    </form>
	</td></tr>
	</table>
	<p class="age">{{ age }}</p>
	<p class="gender"> {{ gender }}</p>
	<p class="para">{{ n }}</p>
	</center>
  </body>
</html>