<!DOCTYPE html>
<html>
<head>
<title>Age and Gender</title>
<style>
.heading{
color:#993399
}
.button{
color:navy
}
.total{
background-color:#66ccff
}
.age{
color:blue
}
.gender{
color:purple
}
.para{
color:red
}
</style>
</head>
  <body class="total">
	<center>
	<h1 class='heading'>AGE AND GENDER PREDICTION</h1><br>
	<img src="{{ url_for('video_feed') }}" height="350"><br><br>
	<table>
	<tr>
	<td>
	<center>
	<form action='/predict' method='POST'>
		<input type="submit" value="Detect Now" class="button">
    </form>
	</center>
	</td></tr>
	</table>
	<h3 class="age"><center>your age is in between {{ age }}</center></h3>
	<h3 class="gender"><center>your gender is {{ gender }}</center></h3>
	<h2 class="para">{{ n }}</h2>
	</center>
  </body>
</html>